:root{
  --background: rgb(22, 22, 22);
} 

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Hintergrund-Container */
.TitlePicture {
  position: fixed;   /* bleibt stehen, egal wie gescrollt wird */
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;     /* genau eine Bildschirmhöhe */
  z-index: -1;       /* hinter allem anderen */
  /* falls das Bild größer ist, nix scrollt raus */
}

/* Das Bild selbst */
.TitlePicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* füllt den Bildschirm, schneidet ggf. etwas ab */
  display: block;      /* keine weißen Ränder */
}


/* Tabelle / Inhalt */
table {
  position: relative;   /* jetzt "positioniert" → z-index greift */
  z-index: 10;          /* vor dem Bild */
  color: #aa5432;         /* falls das Bild dunkel ist */
  border-collapse: collapse;

  
}

.MainOverlayText {
  font-size: 100px;     /* px nicht vergessen */
  font-family: 'Allura', cursive;
  text-align: center;
}
.H1OverlayText {
  font-size: 50px;     /* px nicht vergessen */
  font-family: 'Allura', cursive;
  text-align: center;
}

.H2OverlayText{
  font-size: 35px;     /* px nicht vergessen */
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.StdOverlayText {
  font-size: 20px;     /* px nicht vergessen */
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}

.Spacer10{
  height: 10px;
}

.StdTableText{
  font-size: 25px;     /* px nicht vergessen */
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.StdLink{
  font-size: 25px;     /* px nicht vergessen */
  font-family: 'Times New Roman', Times, serif;
  text-align: center;

  color: #aa5432;
  text-decoration: none;
}

.StdCheckBox{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.StdTextBox{
  height: 25px;
  margin-left: 4px;
}

.StdButton{
  height: 25px;
  color: #aa5432;
   margin-left: 4px;
}